@model FastFoodJoint.Models.Customer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact_Number" class="control-label"></label>
                <input asp-for="Contact_Number" class="form-control" />
                <span asp-validation-for="Contact_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuisineId" class="control-label"></label>
                <select asp-for="CuisineId" class="form-control" asp-items="ViewBag.CuisineId"></select>
                <span asp-validation-for="CuisineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodItemId" class="control-label"></label>
                <select asp-for="FoodItemId" class="form-control" asp-items="ViewBag.FoodItemId"></select>
                <span asp-validation-for="FoodItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

    $(document).ready(function () {
        //Country Dropdown Selectedchange event
        $("#CuisineId").change(function () {
            $("#FoodItemId").empty();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetFoodItems")',
                data: { id: $("#CuisineId").val() },
                // Get Selected Country ID.
                success: function (foodItems) {
                    $.each(foodItems, function (i, foodItem) {
                        $("#FoodItemId").append('<option value="' + foodItem.value + '">' +
                            foodItem.text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve food items.' + ex);
                }
            });
            return false;
        })
    });
    </script>
}
